html body {
  /* background-color: pink; */
  background-color: white;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  font-family: "Numans", sans-serif;
}

.navbar {
  background-color: purple !important;
  /* color: white; */
  font-size: medium;
}
